<div class="row">
    <div class="col-md-12">
        <h3>Assessment Report</h3>
        <h5>
            Total Answered: {{totalanswered}}
            <br />
            Total Student: {{totalstudents}}
        </h5>
    </div>
</div>
<div class="form-group">
    <label class="control-label" for="netid">
        Netid
        <span class="red">*</span>
    </label>
    <input type="text" id="netid" name="netid" class="form-control" placeholder="Netid" required autofocus autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-ng-model="netid">
</div>

<br />
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                </td>
                <thead>
                <tr>
                    <th>User Name</th>
                    <th>Class Section</th>
                    <th>Assessment Attempts</th>
                    <th>Final Score</th>
                </tr>
                </thead>
                <tbody>
               <tr data-ng-repeat="results in result">
                   <td><a data-ng-href="#/assessment/userlookup/{{assessment_id}}/{{results.netid}}">{{results.netid}}</a></td>
                   <td>{{results.section_id}}</td>
                   <td>{{results.number_of_answered_assessments}}</td>
                   <td>{{results.final_score}}</td>
               </tr>
                </tbody>
                </table>
            </div>
        <br/>
    </div>
</div>
