<div class="row">
    <div class="col-md-12">
        <h3>Assesment Lookup for user</h3>
        <form id="frm_lookup" method="post" data-ng-submit="loadassessmentreport()" role="form">
            <div class="form-group">
                <label class="control-label" for="netid">
                    Netid
                    <span class="red">*</span>
                </label>
                <input type="text" id="netid" name="netid" class="form-control" placeholder="Netid" required autofocus autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-ng-model="netid">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>
        <div class="alert alert-danger" role="alert" data-ng-show="error">
            {{error}}
        </div>
        <div data-ng-show="assessments">
            <h4>Assessment History For {{assesment[0].fullname}} ({{netid}})</h4>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>Assessment ID</th>
                    <th>Maxscore</th>
                    <th>Score</th>
                    <th>View Details</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="assessment in assessments">
                    <td>{{assessment.assessment.assessment_id}}</td>
                    <td>{{assessment.assessment.max_score}}</td>
                    <td>{{assessment.assessment.score}}</td>
                    <td>
                        <span class="label" data-ng-if="assessment.assessment_status === 'BEGIN' && assessment.instance_status === 'ASSIGNED'">Assigned</span>
                        <a data-ng-href="#/assessment/review/{{assessment.assessment.assessment_id}}" data-ng-if="assessment.assessment_status === 'REVIEW' && assessment.instance_status === 'ANSWERED'">Review</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>